.section-divider {
  width: 100px;
  height: 3px;
  background-color: #7b1e1e;
  border: none;
  opacity: 1;
}

/* for product features cards in home page */
.product-card img {
  height: 280px;
  object-fit: cover;
}

/* for hurry up section-3  */
.exclusive-offer-section {
  background-image: url("../src/assets/HurryUp_sec_3/vishnu-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px;
  padding: 50px;
  background-position: bottom right;
  padding: 170px 200px;
  color: #fff; /* Adjust for contrast */
}

/* for client img section */

.client-logos img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

/* For Footer section */

.footer-section {
  background-color: #852b28;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-section i {
  font-size: 18px;
  cursor: pointer;
}

.footer-bottom {
  background-color: #f9f2e8;
  color: #852b28;
  font-size: 14px;
}
